
.header-div {
height: 10%;
width: 100%;
display: block;
}

.middle-div {
height: 50%;
width: 100%;
text-align: center;
display: block;
}

.middle-div > img {
max-width: 75%;
max-height: 75%;
}

.bottom-div {
height: 40%;
width: 100%;
display: block;
}